@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Thin.woff"), url("../fonts/Raleway-Thin.woff2");
}

body {
  font-family: "Raleway";
}

.main-container {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.headerMainContainer {
  width: 100%;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rightHeaderItems {
  width: 100%;
  max-width: 300px;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.itemsContainer {
  max-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerLeftCategory {
  height: 100%;
  max-width: 300px;
  width: 100%;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headerLeftCategory div {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.headerLeftCategory > div.active {
  border-bottom: #5ECE7B 2px solid;
  color: #5ECE7B;
}

.headerLeftCategory > div:hover {
  border-bottom: #5ECE7B 2px solid;
  color: #5ECE7B;
}

.dollar-arrow {
  cursor: pointer;
}

#cart {
  max-width: 25px;
  position: relative;
}

#cartCounter {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -8px;
  right: 0;
}

.cartContainer {
  position: relative;
  width: 50px;
}

.padding {
  padding: 15px;
}

.homeTitle {
  width: 100%;
}

.homeTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homeMainContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalogItemsMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.catalogItemsMain_itemConteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 386px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.catalogItemsMain_itemConteiner_img {
  width: 356px;
  height: 330px;
  background: #FFFFFF;
}

.catalogItemsMain_itemConteiner_text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8D8F9A;
  width: 356px;
}

.catalogItemsMain_itemConteiner_text:last-child {
  color: #1D1F22;
  font-weight: bold;
}

.catalogItemsMain_itemConteiner_imgContainer {
  position: relative;
}

.catalogItemsMain_itemConteiner_imgContainer .outOfStock {
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 356px;
  height: 330px;
  background-color: #ffff;
  z-index: 10;
  top: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #8D8F9A;
}
/*# sourceMappingURL=main.css.map */